**/__pycache__/
*.pyc
*.pyo
.idea
**/.cache/
**/.log/
**/backend_cache/
yolov8n-oiv7.pt
.DS_Store
*.log
meta_data_vlc.json
parsed_screenshot_vlc.json
set_api_key.bat
agent/config/googleocr-config.json